/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
src/AuthorizationServiceProvider.php
src/Gates/AffiliateGates.php
src/Gates/AuthorizationGates.php
src/Gates/CategoryGates.php
src/Gates/ClientGates.php
src/Gates/CountryGates.php
src/Gates/GroupGates.php
src/Gates/LocaleGates.php
src/Gates/OpenAIPromptGates.php
src/Gates/QuestionGates.php
src/Gates/QuestionnaireGates.php
src/Gates/QuestionWidgetConditional.php
src/Gates/ResponseGates.php
src/Gates/TagGates.php
src/Gates/UserGates.php
src/Gates/WidgetGates.php
src/helpers.php
src/Policies/AffiliatePolicy.php
src/Policies/AuthorizationPolicy.php
src/Policies/CategoryPolicy.php
src/Policies/ClientPolicy.php
src/Policies/CountryPolicy.php
src/Policies/GroupPolicy.php
src/Policies/LocalePolicy.php
src/Policies/OpenAIPromptPolicy.php
src/Policies/QuestionnairePolicy.php
src/Policies/QuestionPolicy.php
src/Policies/QuestionWidgetConditionalPolicy.php
src/Policies/ResponsePolicy.php
src/Policies/TagPolicy.php
src/Policies/UserPolicy.php
src/Policies/WidgetPolicy.php
